<div class="investigadores col-10 mx-auto">
  <div>
    <h3>Personal investigador registrado</h3>
  </div>
</div>
<div id="investigadoresContainer" class="row">
  <div *ngFor="let investigador of investigadores" class="investigador h-100 col-sm-6 col-md-4 col-lg-3 mx-auto">
    <div class="card h-100" style="background-color: white; color: black">
      <img class="card-img-top" src="assets/photo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">{{investigador.nombre}} {{investigador.apellido1}} {{investigador.apellido2}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">➖ 🌐 {{investigador.organismo}}</li>
        <li class="list-group-item">➖ 📧 {{investigador.correo}}</li>
        <li class="list-group-item">➖ 🏡 {{investigador.ciudad}}, {{investigador.pais}}</li>
      </ul>
      <div class="card-body text-center">
        <a routerLink="/fenomenos/inv/{{investigador.id}}" class="card-link">Fenómenos reportados por {{investigador.nombre}}</a>
      </div>
    </div>
  </div>
</div>