#investigadoresContainer {
  padding: 20px 20px;
}

.investigador {
  color: black;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 20px;
}

.investigadores {

  color: white;
  text-align: center;

}