#investigadoresContainer {
  padding: 5px 20px;
}

.investigador {
  color: black;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 10px;
}

.investigadores {

  color: white;
  text-align: center;

}

#loading {

  width: 80px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

}