<app-header></app-header>
<div class="row">
    <div id="msg" class="col col-md-10 col-xl-8 mx-2 mx-md-auto my-2 px-4 text-center">
        <h3><span class="d-none d-sm-inline">👋</span> ¡Hola camarada! <span class="d-none d-sm-inline">👋</span></h3>
        <br>
        <h4>Necesitaremos que rellenes todos los campos para poder registrarte.</h4><br>
        <p>Al entrar a formar parte de nuestra base de datos, confirmas que estás de acuerdo con cedernos tu alma. Debes saber que, si uno de nuestros administradores detecta prácticas irresponsables por tu parte, podrá sancionarte e incluso eliminar tu
            perfil.
        </p><br>
        <button type="button" class="mx-auto w-25 btn btn-warning" routerLink="/">Volver</button><br><br>
    </div>

</div>

<div class="row">
    <div id="formulario" class="col col-md-10 col-xl-8 mx-2 mx-md-auto my-2 px-4">
        <form #registroForm="ngForm" (ngSubmit)="signUp()" enctype="multipart/form-data">
            <h3 class="col text-center">Tus datos</h3><br>

            <div class="col-12 py-4 mx-auto text-left">

                <div class="row justify-content-between">
                    <div class="col-12 col-lg-4">
                        <label for="nombre">🆔 ➖ Nombre</label>
                        <input class="form-control" [(ngModel)]="investigador.nombre" type="text" name="nombre" id="nombre" required #nombre="ngModel"><br>
                        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Por favor, introduce un nombre.
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="apellido1">🆔 ➖ Primer apellido</label>
                        <input class="form-control" [(ngModel)]="investigador.apellido1" type="text" name="apellido1" id="apellido1" required #apellido1="ngModel"><br>
                        <div [hidden]="apellido1.valid || apellido1.pristine" class="alert alert-danger">Por favor, introduce tu primer apellido.</div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="apellido2">🆔 ➖ Segundo apellido</label>
                        <input class="form-control" [(ngModel)]="investigador.apellido2" type="text" name="apellido2" id="apellido2" required #apellido2="ngModel"><br>
                        <div [hidden]="apellido2.valid || apellido2.pristine" class="alert alert-danger">Por favor, introduce tu segundo apellido.</div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <label for="genero">👨‍🔬👩‍🔬 ➖ Género</label>
                        <select class="form-control" [(ngModel)]="investigador.genero" name="genero" id="genero" #genero="ngModel" required>
                            <option [value]="1">Hombre</option>
                            <option [value]="2">Mujer</option>
                        </select><br>
                        <div [hidden]="genero.valid || genero.pristine" class="alert alert-danger">Por favor, selecciona tu género.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="correo">📧 ➖ E-mail</label>
                        <input class="form-control" [(ngModel)]="investigador.correo" type="text" name="correo" id="correo" placeholder="tu@correo.com" #correo="ngModel" (keyup)="comprobarDisponibilidad()" required><br>
                        <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">Por favor, introduce un correo válido.
                        </div>
                        <div [hidden]="!correoExiste" class="alert alert-danger">Este correo no está disponible.</div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <label for="clave">🔑 ➖ Clave</label><br>
                        <input class="form-control clave" [(ngModel)]="investigador.clave" type="password" minlength="6" name="clave" placeholder="Cuanto más compleja, mejor." #clave="ngModel" required>
                        <span class="mx-2" (mousedown)="verPassword($event)" (mouseup)="ocultarPassword($event)" class="togglePassword">👁
                        </span><br><br>
                        <div [hidden]="clave.valid || clave.pristine" class="alert alert-danger">Seis carácteres como mínimo.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="clave">🔑 ➖ Repite tu clave</label>
                        <input class="form-control clave" type="password" [(ngModel)]="claveControl" minlength="6" name="claveCtrl" placeholder="Repite aquí la clave." #claveCtrl="ngModel" required>
                        <span class="mx-2" (mousedown)="verPassword($event)" (mouseup)="ocultarPassword($event)" class="togglePassword">👁
                        </span><br><br>
                        <div [hidden]="claveCtrl.pristine || claveControl == investigador.clave" class="alert alert-danger">Las claves no coinciden.</div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <label for="organismo">🌐 ➖ Organismo</label>
                        <input class="form-control" [(ngModel)]="investigador.organismo" type="text" name="organismo" id="organismo" required #organismo="ngModel"><br>
                        <div [hidden]="organismo.valid || organismo.pristine" class="alert alert-danger">Por favor, introduce un organismo.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="fecha">👶 ➖ Fecha de nacimiento</label>
                        <input class="form-control" [(ngModel)]="investigador.fechaNacimiento" type="date" name="fecha" id="fecha" required #fecha="ngModel"><br>
                        <div [hidden]="fecha.valid || fecha.pristine" class="alert alert-danger">Por favor, introduce una fecha válida.
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <label for="ciudad">🏙 ➖ Ciudad</label>
                        <input class="form-control" [(ngModel)]="investigador.ciudad" type="text" name="ciudad" id="ciudad" #ciudad="ngModel" required><br>
                        <div [hidden]="ciudad.valid || ciudad.pristine" class="alert alert-danger">Por favor, introduce una ciudad válida.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="pais">🌍 ➖ País</label>
                        <input class="form-control" [(ngModel)]="investigador.pais" type="text" name="pais" id="pais" required #pais="ngModel"><br>
                        <div [hidden]="pais.valid || pais.pristine" class="alert alert-danger">Por favor, introduce un país válido.
                        </div>
                    </div>
                </div>

                <input class="btn btn-info w-100" id="submit" type="submit" [disabled]="!registroForm.valid || correoExiste || claveControl != investigador.clave" value="Registrarme"><br><br>
                <a type="button" class="mx-auto w-100 btn btn-warning" routerLink="/">Volver</a><br><br>

            </div>
        </form>
    </div>
</div>