#formulario,
#msg {
  color: black;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 75%;
}

#togglePassword {
  cursor: pointer;
  display: inline-block;
}

input#clave {
  width: 80%;
  display: inline-block;
}
