<div id="fenomenosContainer" class="row">
    <div class="reported col-10 mx-auto">
        <div
            *ngIf="seeInv then reportedBy; else reportados">
        </div>
    </div>
    <ng-template #reportados>
        <h3>
            Fenómenos reportados
        </h3>
    </ng-template>
    <ng-template #reportedBy>
        <h3>
            <u>Fenómenos reportados por {{seeInvName}}</u>
        </h3>
        <h4 *ngIf="fenomenos">Total: {{fenomenos.length}} fenómenos</h4>

    </ng-template>
    <div class="col-lg-10 mx-lg-auto">
        <div *ngFor="let fenomeno of fenomenos" class="fenomeno">
            <div class="card px-4">
                <div class="card-body">
                    <h4 class="card-title">{{fenomeno.titulo}}</h4>
                    <p class="card-text">{{fenomeno.descripcionCorta}}</p>
                    <div class="row">
                        <div class="mapContainer col-md-4 my-4 my-md-0 mx-auto">
                            <app-mapa [idFen]="fenomeno.id" [latitud]="fenomeno.latitud" [longitud]="fenomeno.longitud">
                            </app-mapa>
                        </div>
                        <div class="col-md-8">
                            <p>🌎 {{fenomeno.ciudad}}, {{fenomeno.pais}} ➖ 📅 {{fenomeno.fecha}}</p>
                            <p>{{fenomeno.contenido}}</p>
                        </div>
                    </div>

                    <div id="autor" class="row mt-4">
                        <p class="col-12 mb-2">🔎 <a routerLink="/fenomenos/inv/{{fenomeno.investigadorId}}">{{fenomeno.nombreInvestigador}} {{fenomeno.apellidoInv1}} {{fenomeno.apellidoInv2}}</a>  ➖ 📂 {{fenomeno.categoria}}</p>
                        <div *ngIf="idInvestigador == fenomeno.investigadorId" class="col-12">
                            <div class="row justify-content-start" id="actionButtons">
                                <button class="col-md-2 btn btn-warning mx-1 my-2"
                                    routerLink="/modFenomeno/{{fenomeno.id}}">Modificar</button>
                                <button class="col-md-2 btn btn-danger mx-1 my-2"
                                    (click)="deleteFenomeno(fenomeno.id)">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>