.fenomeno {
  color: black;
  word-wrap: break-word;
  border-radius: 10px;
  margin: 20px auto;
}

#autor {
  border-top: 2px solid black;
  padding-top: 10px;
}

#actionButtons {

  padding: 0 15px;
  
}

.reported {

  color: white;
  text-align: center;

}

.mapContainer {

  height: 225px;

}

img {

  border-radius: 5px;
  
}

#loading {

  width: 80px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

}

#notFound p {

  color: white;

}

#resultados h4 {

  text-decoration: underline;

}