.fenomeno {
  color: black;
  word-wrap: break-word;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 20px;
}

#autor {
  border-top: 2px solid black;
  padding-top: 10px;
}

#actionButtons {
  padding: 0 15px;
}

.reported {
  color: white;
  text-align: center;
}

.mapContainer {
  height: 225px;
}

#pwd {

  background-color: greenyellow;
  border-radius: 5px;

}

#aviso {

  background-color: yellow;
  border-radius: 5px;

}

h3 {

  color: white;

}

input.clave{

  width: 80%;
  display: inline-block;
  
}

input + span:hover {

  cursor: pointer;

}

#loading {

  width: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

}