nav {
  background-image: url("src/statics/pattern.png");
  color: white;
  border-bottom: 6px solid #339;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

nav img {
  margin-right: 10px;
}

nav li a {

  border-radius: 5px;
  transition: background-color 0.3s;

}

nav li a:hover {

  background-color: blue;

}

a {

  text-decoration: none;
  color: white;

}

.navbar-toggler {

  color: white;
  border: 1px solid white;

}
