<div class="row" *ngIf="loginStatus && loginStatus.idInv">
  <nav class="col-lg-10 mx-lg-auto">

    <div *ngIf="investigador">
      <div class="row justify-content-center">
        <h3 class="col-10">Hola, {{investigador.nombre}}.</h3>
        <h4 class="col-10">{{saludo}}</h4>
        <button type="button" routerLink="addFenomeno"
          class="col-6 col-lg-2 btn btn-success mx-1 my-2">Añadir fenómeno</button>
        <button type="button" class="col-6 col-lg-2 btn btn-secondary mx-1 my-2">Mi perfil</button>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <button type="button" routerLink="investigadores" class="col-6 col-lg-2 btn btn-info mx-1 my-2">Listado de
        investigadores</button>
      <button type="button" routerLink="/fenomenos" class="col-6 col-lg-2 btn btn-info mx-1 my-2">Fenómenos reportados</button>
      <button type="button" (click)="log()" class="col-6 col-lg-2 btn btn-info mx-1 my-2" id="log">{{logAction}}</button>
    </div>

  </nav>

</div>