<div id="searchDiv" class="row mx-1 text-center">
    <form #searchForm="ngForm" id="searchForm" (ngSubmit)="buscar()" class="col-12 col-md-8 col-xl-6 mx-auto mb-4 p-2">
        <h3 class="col-12 mx-auto text-center">Búsqueda por parámetros</h3><br>
        <div class="col-12 mx-auto text-left">
            <div class="row">
                <div class="col-12">
                    <label for="idInv">👨‍🔬👩‍🔬 ➖ Investigador/a</label>
                    <select class="form-control mb-4" [(ngModel)]="searchTarget.idInv" name="idInv" id="idInv" #idInv="ngModel">
                        <option *ngFor="let investigador of investigadores" [value]="investigador.id">
                            {{investigador.nombre}} {{investigador.apellido1}} {{investigador.apellido2}}</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-4">
                    <label for="ciudad">🏙 ➖ Ciudad</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.ciudad" type="text" name="ciudad" id="ciudad" #ciudad="ngModel">
                </div>
                <div class="col-12 col-md-4">
                    <label for="pais">🌍 ➖ País</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.pais" type="text" name="pais" id="pais" #pais="ngModel">
                </div>
                <div class="col-12 col-md-4">
                    <label for="categoría">📁 ➖ Categoría</label>
                    <select class="form-control mb-4" [(ngModel)]="searchTarget.categoria" name="categoria" id="categoria" #categoria="ngModel" required>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{categoria.categoria}}</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-6">
                    <label for="fechaInicio">📅 ➖ Ocurrido desde</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.fechaInicio" type="date" name="fechaInicio" id="fechaInicio" #fechaInicio="ngModel">
                </div>
                <div class="col-12 col-md-6">
                    <label for="fechaFin">📅 ➖ Ocurrido hasta</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.fechaFin" type="date" name="fechaFin" id="fechaFin" #fechaFin="ngModel">
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-6">
                    <label for="publicadoInicio">✍ ➖ Publicado desde</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.publicadoInicio" type="date" name="publicadoInicio" id="publicadoInicio" #publicadoInicio="ngModel">
                </div>
                <div class="col-12 col-md-6">
                    <label for="publicadoFin">✍ ➖ Publicado hasta</label>
                    <input class="form-control mb-4" [(ngModel)]="searchTarget.publicadoFin" type="date" name="publicadoFin" id="publicadoFin" #publicadoFin="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="texto">📝 ➖ Texto</label>
                    <textarea name="texto" id="texto" class="form-control mb-4" [(ngModel)]="searchTarget.texto" rows="5" #texto="ngModel" maxlength="100" placeholder="El texto se buscará tal y como lo escribas."></textarea>
                </div>
            </div>
            <input class="btn btn-info w-100" id="submit" type="submit" value="Buscar"><br><br>
        </div>
    </form>
</div>